
@{
    ViewBag.Title = "Administrar - RentCar";
}

<h2>Administrar</h2>

<p>@Html.ActionLink("Editar Marcas", "Index", "Marcas")</p>
<p>@Html.ActionLink("Editar Categorias", "Index", "CatVehiculos")</p>


