<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Rent Car</title>

    <link href="~/Content/w3.css" rel="stylesheet" />
    <link href="~/Content/stylest.css" rel="stylesheet" />
    
    <link rel="stylesheet" href="stylest.css">
    <script>
    function ponerPrimeraVista(){
      document.getElementById('contenido').innerHTML= "Hola Mundo";

    }

    function DrawMenu(){
      var items =["Home","Vehiculos","Rentar","Redes Sociales","Oficinas", "Usuarios"]

      var html = '';
      items.forEach(function(item){
        html+= '<li> <a href="" class="customButton">'+item+'</a></li>';
      });
      document.getElementById('contenedorMenu').innerHTML= html;
    }

    </script>
</head>

<body>
    <header>
        <h2>Rent Car</h2>
    </header>

    <section>
        <nav>
            <ul id="contenedorMenu" style="margin:0;">
                <!--<li> <a href="#" class="customButton" onclick="ponerPrimeraVista();">Home</a></li>
                <li> <a href="" class="customButton">Vehiculos</a></li>
                <li> <a href="" class="customButton">Rentar</a></li>
                <li> <a href="" class="customButton">Redes Sociales</a></li>
                <li> <a href="" class="customButton">Oficinas</a></li>-->
            </ul>
        </nav>

        @RenderBody()

        <article>
            <div id="contenido">

            </div>
        </article>
    </section>

    <footer>
        <p>Buscanos en ig:  RentCarRD</p>
    </footer>
</body>

<script>
  DrawMenu();
</script>

</html>

<!--
C# VS js

public void talcosa (int id){
  mensaje(id);

}

for(var i=0;i=10;i++){
  talcosa(i);
}



var unacosa=["una","dos","tres"];

unacosa.forEach(function(cosa){
  alert(cosa);
});

-->
