<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="~/Content/stylest.css" rel="stylesheet" />
    <link href="~/Content/w3.css" rel="stylesheet" />
    <title>Rent Car</title>
    <script>
        function DrawMenu() {
            var items = [{ "name": "Home", "dir": "/Home/" }, { "name": "Vehiculos", "dir": "/Vehiculos/" }, { "name": "Rentar", "dir": "/Rentar/" }, { "name": "Redes Sociales", "dir:": "/RedesSociales/" }, { "name": "Oficinas", "dir": "/Oficinas/" }, { "name": "Usuarios", "dir": "/Usuarios/" }]

            var html = '';
            items.forEach(function (item) {
                html += '<li> <a href="'+item.dir+'" class="customButton">' + item.name + '</a></li>';
            });
            document.getElementById('contenedorMenu').innerHTML = html;
        }
    </script>
</head>
<body>
    <header>
        <h2>Rent Car</h2>
    </header>

    <section>
        <nav style="width: 200px; height: calc(100vh - 125px);">
            <ul id="contenedorMenu">
                <li> <a href="/Home/" class="customButton">Home</a></li>
                <li> <a href="/Vehiculos/MostrarVehiculos" class="customButton">Vehiculos</a></li>
                <li> <a href="/Rentar/" class="customButton">Rentar</a></li>
                <li> <a href="/Home/Contact" class="customButton">Contacto</a></li>
                <li> <a href="/Home/Administrar" class="customButton">Administrar</a> </li>  <!--Se supone que fuera visible solo para administradores-->
            </ul>
        </nav>

        <!--<script> DrawMenu(); </script>-->

        <article>
            <div id="contenido" @*style="overflow-y:scroll;*@">
                @RenderBody()
            </div>
        </article>
    </section>

    <footer class="" style="bottom:0px; width:100%;">
        <p>Buscanos en IG:  RentCarRD</p>
    </footer>
</body>

</html>